.Altura30 {
  height: 30px !important;
  margin-top: -5;
  margin-bottom: -5;

}

label {
  height: 10px ;
  margin-top: -5;
  margin-bottom: -5;
  padding-top: 0;
  padding-bottom: 0;
}

.p-field {
  height: 40px;
}

#titleNombre {
  text-align: center;
  color:#27366d;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
}

#tipodocSelect {
  height: 10px;
}
