<div class="p-d-flex p-jc-center">

  <div
    class="p-col-12 p-md-12 p-shadow-6 p-inline  p-fluid p-formgrid p-grid "
  >
    <div class="p-col-12 p-md-10 p-jc-cente">
      <img [src]="imgLogo" alt="logo" >
      <span id="titleNombre"> C.E.A. Seguros Colombia </span>
      <h4 class="text-center">DATOS DEL SOAT</h4>
      <div class="p-fluid p-formgrid p-grid p-p-1">
        <div class="p-field p-col-12 p-md-6">
          <label for="Descripcion">Fecha Expedicion</label>
          <input type="date" id="Descripcion" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Descripcion">Fecha Vencimiento</label>
          <input type="date" id="Descripcion" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Descripcion">Descripcion</label>
          <input type="text" id="Descripcion" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Modelo">Modelo</label>
          <input type="text" id="Modelo" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Placa">Placa</label>
          <input type="text" id="Placa" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Tipo">Tipo</label>
          <input type="text" id="Tipo" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Serie">Numero de Serie</label>
          <input type="text" id="Serie" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Motor">Numero de Motor</label>
          <input type="text" id="Motor" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Chasis">Numero de Chasis</label>
          <input type="text" id="Chasis" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="VIN">Numero de VIN</label>
          <input type="text" id="VIN" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="CC">CC</label>
          <input type="text" id="CC" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Pasajeros">Pasajeros</label>
          <input type="text" id="Pasajeros" pInputText class="Altura30" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="Peso">Peso</label>
          <input type="number" id="Peso" pInputText class="Altura30" />
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-2 p-shadow-3">
      <div class="p-field p-col-12 p-md-12 text-center">
        <label> $320.750,00</label>
        <label> RUNT: $1.700 </label>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-mt-3">
      <button
        pButton
        type="button"
        [class]="btnRegresar"
        label="Regresar"
      ></button>
    </div>
    <div class="p-col-12 p-md-6 p-mt-3">
      <button
        pButton
        type="button"
        [class]="btnContinuar"
        label="Continuar"
      ></button>
    </div>
  </div>
</div>
