<div class="p-grid  p-p-4 p-align-center p-justify-center">
  <div class="p-col-12 p-md-2  p-shadow-2 text-center"  id="cornerl">
    <span>NOMBRE USUARIO</span>
    <div>Usuario no 1</div>
  </div>
  <div class=" p-col-12 p-md-2  p-shadow-2 text-center" id="CentroL">
    <span>TOTAL VENTAS DIARIAS</span>
    <div>$400.000</div>
  </div>
  <div class="p-col-12 p-md-2  p-shadow-2 text-center "  id="CentroR">
    <span>TOTAL BOLETA</span>
    <div>$1400.000</div>
  </div>
  <div class="p-col-12 p-md-2  p-shadow-2 text-center" id="cornerR">
    <span>SALDO DISPONIBLE</span>
    <div>$200.000</div>
  </div>
</div>
