.box {
  height: 290px;
  width: 420px;
  /* margin: 10% auto; */
  border-radius: 30px;
  color: black;
  background-image: url("../../../assets/img/BackGround/Fondologin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: bold;
}
#logo {
  height: 80px;
}

#main {
  background-image: url("../../../assets/img/BackGround/Fondo1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
