<div id="main" class="p-d-flex p-jc-center">
  <div class="p-col-12  p-as-center  box p-shadow-23 p-ai-center p-text-center">
    <div id="logo">

    </div>
    <!-- <p-card> -->
      <p-header class="p-text-center">
        Ingresos al Sistema
      </p-header>
      <div class="p-field">
        <input id="firstname1" type="text" pInputText  class="p-inputtext-sm" placeholder="Usuario">
      </div>
      <div >
        <input id="lastname1" type="text" pInputText  class="p-inputtext-sm p-mb-1" placeholder="Contraseña">
      </div>
      <p-footer>
        <button (click)="logear()"  pButton type="button" [class]="btnAcept" label="Aceptar" ></button>
        <button pButton type="button" [class]="btnCancel"  label="Cancelar" ></button>
      </p-footer>
    <!-- </p-card> -->
    <hr>
    <a href="#" target="_blank" rel="noopener noreferrer">Política de Privacidad</a>
  </div>

</div>
